<script setup lang="ts">
import TransferList from './TransferList.vue';
</script>

<template>
  <v-app>
    <v-main>
    <TransferList></TransferList>
    </v-main>
  </v-app>
</template>

<style scoped>

</style>