<script setup lang="ts">
import TransactionHistoryList from './TransactionHistoryList.vue';
</script>

<template>
  <v-app>
    <v-main>
    <TransactionHistoryList></TransactionHistoryList>
    </v-main>
  </v-app>
</template>

<style scoped>

</style>