<script setup lang="ts">
import type User from "@/types/User";
import { useUserStore } from "../../stores/user"
import { mdiBankTransferOut, mdiPencil, mdiDelete,mdiBankTransferIn } from "@mdi/js"
const userStore = useUserStore()

const deleteUser = (index: number):void => {
  userStore.deleteUser(index)
}
const editUser = (user:User) => {
  userStore.editUser(user)
}
</script>

<template>
  <v-container>
    <v-row >
        <v-btn color="secondary" :prepend-icon="mdiBankTransferOut" class="ma-4">Transfer Menu</v-btn>  
        <v-btn color="secondary" :prepend-icon="mdiBankTransferIn" class="ma-4">Receive Menu</v-btn>
      </v-row>
    <v-row col="12">
      <v-col>
        <v-table>
          <thead>
            <tr>
              <th>
                Datetime
              </th>
              <th>
                User
              </th>
              <th>
                Remain
              </th>
              <th>
                Action
              </th>
              <th>
                From
              </th>
              <th>
                Amount]
              </th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>{{ "--" }}</td>
              <td>{{ "--" }}</td>
              <td>{{ "0.00 ฿" }}</td>
              <td>{{ "--" }}</td>
              <td>{{ "--" }}</td>
              <td>{{ "0.00 ฿" }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>