<script setup lang=ts>
import { useUserStore } from "../../stores/user"
import { mdiPlus, mdiPencil, mdiDelete } from "@mdi/js"
const userStore = useUserStore()

const deleteUser = (index: number):void => {
  userStore.deleteUser(index)
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <div class="text-h4">
          Withdraw Money
        </div>
      </v-col>
    </v-row>
    <v-row >
      <v-col>
        <!-- <v-table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.login }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.password }}</td>
              <td><v-btn :icon="mdiPencil" color="secondary" class="ma-1"></v-btn>
                <v-btn :icon="mdiDelete" color="error" class="ma-1" @click="deleteUser(item.id)"></v-btn></td>
            </tr>
          </tbody>
        </v-table> -->
        <v-table>
          <thead>
            <tr><th></th><th></th></tr>
          </thead>
          <tbody>
            <tr>
              <td><v-text-field label="Amount of Money" class="ma-2"></v-text-field></td>
              <td><v-btn color="success">Withdraw</v-btn></td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>