<script setup lang="ts">
import WithdrawList from './WithdrawList.vue';
</script>

<template>
  <v-app>
    <v-main>
    <WithdrawList></WithdrawList>
    </v-main>
  </v-app>
</template>

<style scoped>

</style>