<script setup lang="ts">
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useLoginStore } from '@/stores/login';
const loginStore = useLoginStore()

const valid = ref("true")
const loginName = ref("")
const password = ref("")
const form = ref<InstanceType<typeof VForm> | null>(null)

const login = async () => {
  const { valid } = await form.value!.validate()
  if (valid) {
    loginStore.login(loginName.value, password.value)
  }
}
const reset = () =>{
  form.value?.reset();
}

</script>
<template>
  <v-app>
    <v-main class="pa-16 bg-blue-grey">
      <v-card width="400px" class="mx-auto">
        <v-card-title primary-title class="text-center text-h4">
          Login
        </v-card-title>
        <v-card-text>
          <v-form ref="form" v-mode="valid">
            <v-text-field v-model="loginName" label="Username" :rules="[
              (v) => !!v || 'Username is required',
              (v) => v.length >= 4 || 'Username more than 3 charecters'
            ]" required></v-text-field>
            <v-text-field v-model="password" label="Password" type="password" :rules="[
              (v) => !!v || 'Password is required',
              (v) => v.length >= 8 || 'Password more than 7 charecters'
            ]" required></v-text-field>
          </v-form>
          <pre>
            {{ loginName }}
            {{ password }}
          </pre>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn color="success" @click="login">Login</v-btn>
          <v-btn color="error" @click="reset">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>
</template>