<script setup lang="ts">
import { mdiFolder,mdiAccount, mdiChevronLeft,mdiBankTransfer, mdiCashPlus, mdiCashMinus, mdiCheckbook } from '@mdi/js';
import { ref } from "vue";
const drawer = ref(true);
const rail = ref(true);

import { useLoginStore } from '@/stores/login';
const loginStore = useLoginStore()


const logout = () => {
  loginStore.logout();
}
</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app-bar title="Bank Application ">

      <v-btn @click="logout">logout</v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" :rail="rail" permenant @click="rail = false">

        <!-- <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
            :title="loginStore.loginName"
            subtitle="sandra_a88@gmailcom"
          ></v-list-item>
        </v-list> -->
        <v-list-item :prepend-icon="mdiAccount" :title="loginStore.loginName"  nav> 
          <!-- subtitle="user 1" -->
          <template v-slot:append>
            <v-btn variant="text" :icon="mdiChevronLeft" @click.stop="rail = !rail"></v-btn>
          </template></v-list-item>

        <v-divider></v-divider>

        <v-list nav>
          <v-list-item :prepend-icon="mdiFolder" title="Users" value="users" to="/user"></v-list-item>
          <v-list-item :prepend-icon="mdiCashPlus" title="Deposit" value="deposit" to="/deposit-view"></v-list-item>
      <v-list-item :prepend-icon="mdiCashMinus" title="Withdraw" value="withdraw" to="/withdraw-view"></v-list-item>
      <v-list-item :prepend-icon="mdiBankTransfer" title="Transfer" value="transfer" to="/transfer-view"></v-list-item>
      <v-list-item :prepend-icon="mdiCheckbook" title="Transaction History" value="transactionHistory"
        to="/transaction-history-view"></v-list-item>
        </v-list>
    </v-navigation-drawer>

    <!-- <v-main class="d-flex align-center justify-center" style="min-height: 300px;">
      Main Content
    </v-main> -->
    <v-main>
      <v-container >
        <RouterView></RouterView>
      </v-container>
    </v-main>
  </v-layout>
</template>