<script setup lang="ts">
import DepositList from './DepositList.vue';
</script>

<template>
  <v-app>
    <v-main>
    <DepositList></DepositList>
    </v-main>
  </v-app>
</template>

<style scoped>

</style>