<script setup lang=ts>
import UserList from './UserList.vue';
import UserDialog from './UserDialog.vue';

</script>
<template>
  <v-app>
    <v-main>
      <div>
      
    </div>
    <UserList></UserList>
    <UserDialog></UserDialog>
    </v-main>
    
  </v-app>
</template>

<style scoped>

</style>