<script setup lang=ts>
import type User from "@/types/User";
import { useUserStore } from "../../stores/user"
import { mdiPlus, mdiPencil, mdiDelete } from "@mdi/js"
const userStore = useUserStore()

const deleteUser = (index: number):void => {
  userStore.deleteUser(index)
}
// const editUser = (user:User) => {
//   userStore.editUser(user)
// }
</script>
<template>
  <v-container>
    <v-row>
      <v-col col="3" offset="9">
        <v-btn color="primary" :prepend-icon="mdiPlus">ADD NEW</v-btn>
      </v-col>

    </v-row>
    <v-row col="12">
      <v-col>
        <v-table>
          <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                Login
              </th>
              <th>
                Name
              </th>
              <th>
                Password
              </th>
              <th>
                Remain
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.login }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.password }}</td>
              <td>{{ item.remain }}</td>
              <td><v-btn :icon="mdiPencil" color="secondary" class="ma-1"></v-btn>
                <v-btn :icon="mdiDelete" color="error" class="ma-1" @click="deleteUser(item.id)"></v-btn></td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>