<script setup lang="ts">
import { ref, computed } from 'vue';
import LoginView from './views/LoginView.vue';
import MainView from './views/MainView.vue';
import { onMounted } from 'vue';
import { useLoginStore } from '@/stores/login';
import MessageBox from './views/MessageBox.vue';
const loginStore = useLoginStore()

onMounted(() => {
  console.log("on mount")
  loginStore.loadData()
})
</script>

<template>
  <LoginView v-if="!loginStore.isLogin" />
  <MainView v-if="loginStore.isLogin" @logout="loginStore.logout" :login-name="loginStore.loginName" />
  <MessageBox></MessageBox>
</template>

<style scoped></style>
